@import 'normalize';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}



body {
  color: #333;
}



.upperHero {
  background-color: #79A2C1;
  width: 100%;
  height: 128px;
  padding-top: 64px;
  // box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  // box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  // margin-bottom: 20px;
  // border-bottom: 5px outset green;
}

.upperHero p{
  margin-top: 0;
  padding-top: 20px;
  color: #9F1A1A;
  font-size: 18px;
  margin-left: 65px;
  display: inline-block;
}

//  ul li {
//   display: inline-block;
//   margin-left: 20px;
// }
//
// a, ul, p {
//   display: inline-block;
// }

img {
  width: 100%;
}

.login-form, .reg-form, .payment-form {
  padding-top: 100px;
}

.login-paper {
  margin-bottom: 20px;
}

.row .col.form-button {
  padding: 0px;
}

.form-button-row {
  margin-top: 50px;
}

.form-row {
  margin-bottom: 0;
}

.mainHero {
  background-color: #F3F5F6;
  height: 230px;
}

.heroSearch {
  margin-top: 30px;
  margin-left: 50px;
}

.heroSearch h1 {
  font-size: 40px;
  line-height: 30px;
}

h1, p {
  font-family: 'Libre Baskerville', serif;
}

.heroImg img {
  height: 230px;
  width: auto;
}

.row {
  margin-bottom: 0;
}

.about {
  height: 150px;
  background-color: #79A2C1;
}

.about-inner {
    margin-top: 10px;
}

.bold {
  font-weight: bold;
  font-size: 16px;
}

// div .about-inner a.material-icons {
//   font-size: 90px;
// }

.user-image-small {
  width: 45px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 5px
}

// .image-element-class {
//   margin-left: 50px;
// }

.home-tile {
  margin-bottom: 20px;
  // margin-left: 20px;
  // margin-right: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  width: 260px;

  // display: inline
  -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.pattern-image {
  border-radius: 5px 5px 0 0;
  width: 260px;

}


.pattern-title {
  // width: 800px;
  // margin: 0 auto;
  // margin-top: 10px;
  height: 80px;
  margin-top: 20px;
  background-color: #fff;
  // border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}


.instruction-tile {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 5px;
  padding: 2px;
  padding-left: 20px;
  margin-bottom: 17px;
}

.image-tile {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 5px;
  margin-bottom: 17px;
}

.image-tile img {
  border-radius: 5px 5px 0 0;
}

.image-tile p {
  margin: 0 auto;
  width: 70px;
}

.pattern-title h1 {
  padding-top: 25px;
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

.pattern-title {
   margin: 0 auto;
}

.pattern-space {
  margin-top: 30px;
}

.pattern-image-main {
  height: 300px
}

.home-tile img:hover, .home-tile p:hover, .home-tile h1:hover {
  cursor: pointer;
}

.home-tile h1 {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  color: #79A2C1;
  // margin-left: 10px;
}

.home-tile p {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}



.spacer {
  height: 64px;
}

.space-20 {
  margin-top: 30px
}

.pattern-square {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

// .row .col {
//   padding: 0px;
// }

.pattern-artist {
  background-color: #79A2C1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.pattern-artist img {
  margin-top: 50px;
  // border: 5px solid grey;
  border-radius: 5px;
}

.pattern-directions {
  margin-top: 40px;
}

.pattern-main {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.materials {
  margin-bottom: 20px;
}

.instructions {
  margin-top: 35px;
  margin-bottom: 20px
}

// #columns {
// 	-webkit-column-count: 4;
// 	-webkit-column-gap: 10px;
// 	-webkit-column-fill: initial;
// 	-moz-column-count: 4;
// 	-moz-column-gap: 10px;
// 	-moz-column-fill: initial;
// 	column-count: 4;
// 	column-gap: 15px;
// 	column-fill: initial;
// }

.profile-main {
  margin-top: 20px;
  margin-bottom: 20px;
  // padding-left: 5px;
  // padding-right: 5px;
}

.profile-main img {
  margin-top: 0px;
}

.profile-about {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  padding: 10px;
}

.profile-about h1 {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

footer {
  margin-top: 40px;
  height: 40px;
  background-color: #385D79;
  color: #fff;
}

footer p {
  // height: 10px;
  // line-height: 10px;
}

.modal-image {
  width: 500px;
}

.upload-main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  padding-top: 30px;
}

.upload-main p {
  // margin-bottom: 0px;
  // margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.right20 {
  margin-left: 20px;
}

p.upload-title {
  color: rgb(173, 80, 87);
  font-size: 16px;
  margin-top: 20px;
}



.delete-div {
  margin: 0 0px 0 10px;
  display: inline-block;
}

.inline {
  display: inline-block;
}

.down40 {
  padding-top: 20px;
}

.styleMaterial {
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 22px;
    margin-left: 10px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}


.ui-sortable {
  display: block;
  position: relative;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ui-sortable:before,
.ui-sortable:after{
  content: " ";
  display: table;
}

.ui-sortable:after{
  clear: both;
}

.ui-sortable .ui-sortable-item {
  float: left;
  cursor: move;
}

.ui-sortable .ui-sortable-item.ui-sortable-dragging {
  position: absolute;
  z-index: 1688;
}

.ui-sortable .ui-sortable-placeholder {
  display: none;
}

.ui-sortable .ui-sortable-placeholder.visible {
  display: block;
  z-index: -1;
}
